/* Special: for spaces, expand the space slightly so it's easier to click */
.space {

  width: calc(1rem / 2);
  height: stretch;

  &:hover {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.lyric,
.space {
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &.mode-cue:hover {
    background-color: yellow;
  }

  &.mode-bump:hover {
    background-color: pink;
  }
}

/* Reset lyric margin for all lyric types */
.lyric,
.cue,
.bump {
  margin: 0rem;
}


.richContainer {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);

  /* Embedded indicators, e.g. Cue 2 or Bump Flash White */
  &.indicator,
  .indicator {
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    height: stretch;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    border-width: 4px;
    border-style: solid;


  }

  /* Content within a Rich Container should be surrounded with a border */
  .lyric {
    border-width: 4px;
    border-style: solid;
    margin: 0rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    text-align: center;
  }


  /* For when the Rich Content is selected */
  &.selected {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transform: translate(-2px, -2px);
  }
}

.is-cue {


  .lyric,
  .indicator,
  &.indicator {
    border-color: yellow;
  }

  .indicator,
  &.indicator {
    background-color: yellow;
    border-color: yellow;

  }

}

.is-bump {


  .lyric,
  .indicator,
  &.indicator {
    border-color: pink;
  }

  .indicator,
  &.indicator {
    background-color: pink;
    border-color: pink;

  }

}