POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
POSTGRES_PORT=changeme # postgres port exposed on the server. routed to 5432 in docker
PORT=9000 # Go server port
CORS_URL=http://localhost:5173 # Update this to the URL of the website

WEBTRANSPORT_ADDR=:6121 # update this to the URL of the website

# Host directory containing the certificate files. It is mounted at /certs in the container.
TLS_CERTS_HOST_DIR=./certs
TLS_CERT_FILE=/certs/fullchain.pem
TLS_KEY_FILE=/certs/privkey.pem
