POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
POSTGRES_PORT=changeme # postgres port exposed on the server. routed to 5432 in docker
PORT=9000 # Go server port
CORS_URL=http://localhost:5173 # Update this to the URL of the website
