POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
POSTGRES_PORT=changeme # postgres port exposed on the server. routed to 5432 in docker
PORT=9000 # Go server port
CORS_URL=http://localhost:5173 # Update this to the URL of the website

WEBTRANSPORT_ADDR=:6121 # update this to the URL of the website

# Get the key: https://github.com/adriancable/webtransport-go-example/tree/main (or search "set up TLS/HTTPS on localhost" on your favourite AI chatbot)
TLS_CERT_FILE=cert.pem # path to the TLS certificate file
TLS_KEY_FILE=key.pem # path to the TLS key file