.stepsRoot {
  margin-top: 2rem;
  position: relative;
  display: flex;
  width: min(100%, 42rem);
  padding: 0.5rem;
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

.stepControl {
  position: relative;
  z-index: 1;
  flex: 1;
  padding: 0.6rem 0.75rem;
  border-radius: var(--mantine-radius-md);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
  text-align: center;
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
  transition: color 100ms ease;

  @mixin hover {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  &[data-active] {
    color: var(--mantine-color-text);
  }
}

.stepLabel {
  position: relative;
  z-index: 1;
}

.stepIndicator {
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-primary-color-light);
}

.content {
  /* width: fit-content; */
  margin-top: 2rem;
  border-radius: var(--mantine-radius-md);
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));


}